<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let character">{{ character.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Avatar</mat-header-cell>
    <mat-cell *matCellDef="let character">
      <img [src]="character.image" alt="avatar" class="avatar">
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell [routerLink]="character.id" *matCellDef="let character" class="mat-cell-name" >{{ character.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="species">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Species</mat-header-cell>
    <mat-cell *matCellDef="let character">{{ character.species }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
