.container {
  margin: 0 auto;
  padding: 1%;
}

.mat-toolbar{
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #424242;
}

.btn {
  width: 275px;
  margin-right: 15px;
  text-transform: uppercase;
}
